NICK="bottino"
USERNAME="cool_bot"
REALNAME="Very Cool Bot"

IRCD_ADDR="irc.libera.chat"
IRCD_PORT="6667"

TLS="false"

# Value: 1<=interval<=1023
# If value is <= 0 then do not actively ping; this way the bot connection relies
# solely on the pings sent from the server
PING_INTERVAL=30

NPIPE_IN=./botin.fifo
NPIPE_OUT=./botout.fifo
